body{
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.principal{
    display: flex;
    justify-content: space-evenly;
}
.conjunto{
    display: flex;
}
.informacion{
    margin-left: 10px;
    margin-top: 10px;
}
p{
    margin:5px;
}
#titulo{
    font-size: 20px;
}
#reserva{
    background-color: white;
    border: 1px solid grey;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}
#presupuesto{
    background-color: grey;
    color: white;
    border: 1px solid grey;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.comentarios{
    display: flex;
    align-items:center;
    justify-content: space-around;
}
#media{
    background-color: grey;
    color: black;
    border: 1px solid grey;
    height: 30px;
    border-radius: 10px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
